{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login_register.css' %}" />
  </head>
  <body>
    <div class="login-box">
      <h2 style="color: rgb(80, 214, 248)">Login</h2>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="user-box">
          <input type="text" name="username" required="" />
          <label>Username</label>
        </div>
        <div class="user-box">
          <input type="password" name="password" required="" />
          <label>Password</label>
        </div>
        <div class="login-register-btn">
          <a onclick="go()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </a>
          <a href="{% url 'register' %}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Register
          </a>
        </div>
      </form>
    </div>

    <script>
      function go() {
        document.querySelector("form").submit();
      }
    </script>
  </body>
</html>
